@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Ephesis&family=Roboto+Mono:wght@200;300;400;600&display=swap");

* {
  box-sizing: border-box;
}

.body {
  font-family: "Ephesis", cursive;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("https://image.shutterstock.com/z/stock-vector-couple-in-love-male-and-female-close-up-portraits-side-view-vector-illustration-1292172952.jpg")
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(30px);
}

.loading-text {
  font-size: 70px;
  color: fff;
}
